<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>404 Error</title>
    <meta charset="UTF-8" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  </head>
  <body>
    <div class="container">
      <h1 class="text-center text-warning my-5" th:text="${status}+' - '+${error}"></h1>
      <form th:action="@{/user/logout}" method="post" class="text-center">
        <button class="btn btn-link" type="submit">ログイン画面に戻る</button>
      </form>
    </div>
    <!-- Bootstrap JS (optional) -->
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
  </body>
</html>
